body {
    background: white;
    margin: 0;
    font-family: Arial, sans-serif;
}




.topo {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


.esquerda {

    margin-right: -10000px;
    flex-wrap: wrap;
    display: flex;
    padding-right: 40px;
    border-right: 2px solid #174a9c;

}


.esquerda img {
   margin-top: 120px;
    width: 200px;
    height: 300px;
}


.texto h2 {
    text-align: center;
    color: #174a9c;
    font-weight: 500;
}


.texto h1 {
    text-align: center;
    color: #174a9c;
    margin-bottom: 25px;
    font-size: 30px;
}


.texto button {
    width: 89%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background:#a8c0e6;
    color: white;
    text-align: left;
}


.pedidos {
    padding-top: 100px;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 520px;
    margin-top: 100px;
    height: 250px;
    background: #a8c0e6;
    padding: 30px;
    border-radius: 20px;
    padding-left: 50px;
    flex-wrap: wrap;
}


.pedidos h3 {
    text-align: left;
    color: white;
    margin-bottom: 20px;
}


.linha {
    margin-bottom: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 14px;
}


.linha p {
    margin: 0px;
}


.verde {
    background: #34c759;
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
}


.amarelo {
    background: #ffcc00;
    padding: 5px 12px;
    border-radius: 15px;
}


.vermelho {
    background: #ff3b30;
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
}


.parte2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 60px;
}


.recomendacoes{
    width: 65%;
    background: #a8c0e6;
    padding: 20px;
    border-radius: 15px;
}


.mensagens{
    width: 30%;
    background: #a8c0e6;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.cabecalho p{
    margin: 0;
}
.cabecalho2{
    display: flex;
    flex-wrap: wrap;
}


.cabecalho a{
    color: blue;
}


.produtos{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.amostra{
    background-color: white;
    padding: 10px;
    width: 120px;
    border-radius: 6px;
    text-align: center;
}


.amostra img{
    width: 80px;
    height: 80px;
    object-fit: cover;


}


.preco{
    color: lightgreen;
}


.msg{
    background: white;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.aquisicoes{

    margin-top: 50px;
    text-align: center;
    margin-right: 80%;
}

.status{
    color: darkblue;
    text-align: center;
    padding-bottom: 10px;
    width: 65%;
    background-color: #a8c0e6;
    margin-right: 100px;
    border-radius: 10px;

}

#img_pedidos{
    margin-left: 30px;
}

.parte3 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
}




.status h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d2c6b;
}

.pedido {
    margin-bottom: 25px;
    text-align: center;
}

.pedido img {
    width: 90%;
}

.recomendacoes3 {
    width: 44%;
    background: #a8c0e6;
    padding: 20px;
    border-radius: 15px;
}

.recomendacoes3 h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d2c6b;
}

.produtos3 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.amostra3 {
    background: white;
    padding: 10px;
    width: 45%;
    border-radius: 8px;
    text-align: center;
}

.amostra3 img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.preco3 {
    color: #34c759;
    font-weight: bold;
}


























































header {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

body {
    background-color: white;
   
}


#navbar-title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(211, 206, 206);


}

.navbar {
    display: flex;
    flex-direction: column;


}

.menu {
    display: flex;
    background-color: rgb(211, 206, 206);
    justify-content: space-around;
    align-items: center;
    gap: 0;
}

#icon_save {
    width: 12px;
    height: 12px;
}

#icon_cancel {
    width: 12px;
    height: 12px;
}

#icon_edit {
    width: 12px;
    height: 12px;

}

#icon_save_draft {
    width: 12px;
    height: 12px;
}


#icon_refresh {
    width: 16x;
    height: 16px;
}

#icon_undo {
    width: 12px;
    height: 12px;
}

#icon_redo {
    width: 12px;
    height: 12px;
}

#icon_cima {
    width: 20px;
    height: 20px;
}

#icon_esquerda {
    width: 25px;
    height: 20px;
}

#icon_baixo {
    width: 20px;
    height: 20px;
}

#navigation{

    border-right: black solid 1px;
}

.navigation-header{
    display: flex;
    align-items: baseline;
    gap: 20px;
    background-color: whitesmoke;
    
}

.botao_navigation {
    display: flex;
    gap: 5px;
    background-color: rgb(211, 206, 206);
    padding: 5px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.linha-selecionada {
    background-color: #b8d1f5;
}

.selection-col {
    width: 20px;
}

.ativada {
    background-color: #0574ea;
}

#titulo-overview {
   display: flex;
    align-items: baseline;
    gap: 20px;
    background-color: rgb(224, 224, 224);
}

.navigation-overview{
    display: flex;
}