body {
    font-family: Arial, sans-serif;
}

.container {
    background: #dbe7f6;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

/* Robô */
.container img {
    width: 140px;
}

/* Textos */
.texto h2 {
    color: #174a9c;
    font-weight: 500;
}

.texto h1 {
    color: #174a9c;
    margin-bottom: 20px;
}

/* Botões principais */
.texto button {
    display: block;
    width: 380px;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #174a9c;
    color: white;
    text-align: left;
}

/* Botão menor */
.chat {
    width: 150px;
    background: white 
    color: #174a9c 
    border: 2px solid #174a9c;
}




























#navbar-title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}


header {
    background-color: rgb(243, 215, 90);
    justify-content: space-around;
}

#icon_save {
    width: 12px;
    height: 12px;
}

.navbar{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    background-color: grey;
    justify-content: space-around;
}